<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">
<title>Admin posts</title>
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


</head>
<body>

<div class="sidebar">
  <a href="{{ url_for('get_all_posts') }}">Home</a>
  <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
  <a class="active" href="{{ url_for('admin_posts') }}">Posts</a>
  <a href="{{ url_for('admin_users') }}">Users</a>
  <a href="{{ url_for('admin_comments') }}">Comments</a>
  <a href="{{ url_for('new_post') }}">Add Post</a>


</div>

<div class="content">


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Body</th>
      <th scope="col">Views</th>
      <th scope="col">Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
    <tr>
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.date }}</td>
      <td>{{ post.body | safe | truncate(125, True, '...') }} <a href="{{ url_for('show_post', index=post.id) }}">Read more</a></td>
      <td></td>
      <td><img src="{{ url_for('static', filename='img/'+post.image) }}" style="width: 100px;"></td>
      <td><a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

</div>


</body>
</html>