<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">
<title>Admin users</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<style>

  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

</style>

<body>

<div class="sidebar">
  <a href="{{ url_for('get_all_posts') }}">Home</a>
  <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
  <a href="{{ url_for('admin_posts') }}">Posts</a>
  <a class="active" href="{{ url_for('admin_users') }}">Users</a>
  <a href="{{ url_for('admin_comments') }}">Comments</a>
  <a>Add Post</a>


</div>

<div class="content">


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">role</th>
      <th scope="col">Profile_image</th>


    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td><img class="image" src="{{  url_for('static', filename='img/'+user.profile_image) }}" style="width: 100px;"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

</body>
</html>