{% include "header.html" %}
<style>
  .search-bar {
      width: 250px;
      padding-right: 20px;
  }
</style>


<div class="row">


    <div class="column1">

{% if search %}
  {% if search_results | length > 0 %}
    <h2>Search results for "{{ key_word }}"</h2>
  {% else %}
    <h2>No results for "{{ key_word }}"</h2>
  {% endif %}
{% else %}
  {% if all_posts | length > 0 %}
    {% set search_results = all_posts %}
  {% else %}
    <div style="padding: 10px 0 0 25px;">
      <h2>No Posts</h2>
    </div>
  {% endif %}
{% endif %}

  <!-- Main Content -->
        <div class="container">
          <div class="row">
          {% for post in search_results %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                  <a href="{{ url_for('show_post', index=post.id) }}">
                    <h2 class="post-title">
                      {{post.title}}
                    </h2>
                    <img src="{{ url_for('static', filename='img/' + post.image) }}" style="width:100%; border: 4px solid; border-radius: 3px;">
                    <h3 class="post-subtitle">
                      {{post.subtitle}}
                    </h3>
                  </a>
                  <p class="post-meta">Posted {{post.date}}</p>
                </div>
              <hr>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

  <div class="column2">
    <form method="get" action="{{ url_for('search') }}">
      <div class="input-group rounded search-bar">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search">
          <button class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </button>
      </div>
    </form>
    <p></p>
    <h3 style="text-decoration: underline;">Popular Posts:</h3>
    <div class="row">
    {% for post in popular_post %}
      <div style="width: 80%;">
          <div class="post-preview">
            <a href="{{ url_for('show_post', index=post.id) }}">
              <h3 >
                {{post.title}}
              </h3>
              <img src="{{ url_for('static', filename='img/' + post.image) }}" style="width:40%; border: 4px solid; border-radius: 3px;">
              <h5 class="post-subtitle">
                {{post.subtitle}}
              </h5>
            </a>
            <p class="post-meta">Posted {{post.date}}</p>
          </div>
        <hr>
      </div>
    {% endfor %}
    </div>
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function (e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    });
</script>


{% include "footer.html" %}